* {
    background-color: rgb(12, 12, 12);
    color: red;
    font-family: sans-serif;
}

iframe {
    margin: 100px auto auto auto;
    display: block;

}

h2 {
    text-align: center;
    margin-top: 40px;
}

#backbutton {
    text-align: center;
    margin: 30px;
    display: block;
}

a:visited {
    color: darkred;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
}